.addaservice-form {
  margin: 10px 470px;
}

.addaservice-form input {
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 500px;
}

.error {
  color: red;
}
